ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 12em;
    background: #efefef;
    li {
        flex: 1;
        line-height: 44px;
        height: 44px;
        text-align: center;
        padding: 0;
        min-width: 12em;
        cursor: pointer;
        &.active{
            background: red;
            color: #fff;
        }
        &:hover {
            background: gray;
            color: #fff;
        }
    }
}